<div class="container mt-5">
    <div class="row blog-section">
        <div class="col-12">
            <h3 class="text-center mb-5 mt-5">Lorem ipsum dollar site samit</h3>
        </div>
        <div class="col-md-12">
            <div class="post-box">
                <img src="https://www.thoughtco.com/thmb/SOQV0Q-OLy490Lf_RETbguDXj5g=/2121x1414/filters:fill(auto,1)/how-to-start-a-blog-for-free-4687144-1-ab38a1b4fb5d4ed3bb58026b5dd49d54.jpg" alt="" class="w-100 post-thumb mb-4
                ">
                <p class="post-excerpt">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has
                    survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently
                    with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                </p>
            </div>
        </div>
    </div>
</div>